
table tr td{
    border: 1px solid black;
}

table.fixed { table-layout:fixed; 
    
    }
              
table.fixed td { 
    overflow: hidden; 
    width:70px;
    }
    
table.fixed tr {
    height:70px;
    overflow: hidden;
}

select.currentOrder{
    size:"30";
    height:400px;
    width:200px;
}

select.previousOrders{
    size:10;
    height:200px;
    width:200px;
}